<% title "Listing all articles" %>
<% if @articles.present? %>
<%= render 'article', obj: @articles %>
<% else %>
<div class="well well-empty">
  <h3>No articles yet</h3>
</div>
<% end %>
<div align="center">
    <%= will_paginate %>
</div>
